


header{
    padding: 20px;
    font-size: 10px;
    background-color: pink;
    color:rgb(206, 5, 105);
    letter-spacing: 0px ;
}

ul{
    display: inline-block; 
}
li{
    display: inline-block; 
}
li a:hover {
    background-color: rgb(199, 116, 216);
  }

body{
    background-color: pink; src: ;
}



